html{
	font-family: source-sans-pro; 
	width: 100%;
	font-size: 1vw;
}
p{
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 8%;
}
body{
	margin: 0;
	padding: 0;
	color: #54300B;
	letter-spacing: .0625rem;
	word-spacing: .09375rem;
}
a{
	color: #BEB64E;
	font-size: 2rem;
	padding-left: 5%;
	text-decoration: none;
}
a:active{
	color: #BD0B39;
}
a:hover{
	color: #BD0B39;
}
.topnav{
	color: #BEB64E;
	height: 7.375rem;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: source-sans-pro, sans-serif;

}
.picture{
	background-image: url("../images/about.jpg");
	width:100%;
	height:40rem;
	background-repeat: no-repeat;
	background-size: cover;

}
.aboutus{
	font-family:'Lithos Pro', sans-serif;
	height: 2.8rem;
	text-align: center;
	color: #D0335B;
}
.contactus{
	background-color: #BDB54E;
	display: flex; 
	align-items: center;
	font-family:'Lithos Pro', sans-serif;
	height: 37.5rem;
	text-align: center;
	color: white;
	font-size: 1.25rem;
}
.contactus2{
	background-color: white;
	display:flex;
	align-items:center;
	font-family:'Lithos Pro', sans-serif;
	height: 43.75rem;
	text-align: center;
	color:#E99827;
	font-size: 1.25rem;
	margin-top: -1.875rem;
}
.info{
	font-family: source-sans-pro;
	color:#BD0B39;

}
.dailyspecials{
	font-family:'Lithos Pro', sans-serif;
	height: 2.8rem;
	text-align: center;
	color: black;
	color:#BD0B39; 
}
.reservations{
	background-color:#EAD9C3;
	display:flex;
	flex-direction: column;
	align-items:center;
	font-family:'Lithos Pro', sans-serif;
	height: 41.25rem;
	text-align: center;
	color:#54300B;
	font-size: 1.25rem;

}
.brown-text{
	color: #54300B;
	font-family: source-sans-pro;
	margin-bottom: 0rem;
}
.red-text{
	color: #D0335B;
	font-weight: bold;
	font-family: source-sans-pro;
}
.red-text2{
	color: #D0335B;
	font-family: source-sans-pro;
	text-align: left;
}
.white-text{
	color: white;
	font-family: source-sans-pro;
	margin-bottom: 0rem;
}
.map{
	background-image: url("../images/map.png");
	width: 31.25rem;
	height: 25rem;
	background-size: cover;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0rem;
	margin-right:10%;

}
.map2{
	background-image: url("../images/map.png");
	width: 28.75rem;
	height: 23.4rem;
	background-size: cover;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0rem;
	margin-right:10%;
}
.bar{
	background-image: url("../images/friday.jpg");
	width: 28.75rem;
	height: 23.4rem;
	background-size: cover;
	margin-right:10%;
	margin-top: 2%;
}

img{
	max-width: 100%;
	max-height: 100%;
	}
.buttons{
	font-family:source-sans-pro; 
	background-color:#BD0B39; 
	border-radius: .5rem;
	color: white;
	font-size: 1.25rem;
	height: 3rem;
	width: 13%;
	margin-right: 1%;

}
	@media only screen and (max-width: 700px){
		.buttons{
			width: 100%;
		}
		
	}
.specials{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top:5.8rem;
}
.mySlides{
	display: none;
	align-items: center;
	display: flex;
	position: center;
	width: 1005rem;
	height: 37.5rem;
	object-fit: cover; 
}
.w3-content{
	align-items: center;
	display: flex;
	position: relative;
}
.frame{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 10%;
}
.form input{
	width: 100%;
	height: 2rem;
	margin-bottom: 1rem;
}
.specialsbackground{
	background-color: rgba(0,0,0,0.3);
}
